<section class="about">
        <h1 class="heading-about">Cooking Team</h1>
        <div class="information">
                {{#each admins}}
                <div class="person-info">
                        <div class="person-info-image">
                                <img src={{this.urlImage}} alt={{this.name}} class="avatar">
                        </div>
                        <div class="person-info-details">
                                <p>Name: <strong>{{this.name}}</strong></p>
                                <p>Age: <strong>{{this.age}}</strong> years old</p>
                                <a href={{this.link}}><img src="./images/github.png" alt="logo" class="logo"></a>
                        </div>


                </div>
                {{/each}}
        </div>

</section>